.cart-container{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: black;
    
}

.cart-img{
    width: 35px;
    height: 35px;
    padding: 1rem;
    margin-right: 1rem;
    
}
.cart-img:hover{
    width: 40px;
    height: 40px;
    cursor: pointer;
}