.log-bar-container{
    display: flex;
    width: 100%;
    height: 40px;
    background-color: slateblue;
    justify-content: space-between;
    align-items: center;
}
.greeting-log{
    display: flex;
    align-items: center;
    color: snow;
    font-weight: bolder;
}
.greeting-log p{
    margin: 0 1rem;
    padding: .4rem;
    font-size: .7rem;
}
.btn-log-container{
    display: flex;
}
.btn-log-container a{
    margin: 0 1rem;
    color: snow;
    padding: .4rem;    
}
.btn-log-container a:hover{
    color: deeppink;
    padding: .5rem;
    background-color: chartreuse;
}
.user-box{
    display: flex;
    margin-right: 1rem;
}
.user-box span{
    color: whitesmoke;
    font-weight: bolder;
}
.user-box img{
    margin: 0 1rem;
    transition: .5s ease-in-out;
}
.user-box img:hover{
    cursor: pointer;
    box-shadow: inset 1px 1px 1px 1px black;
    border-radius: 1rem;
}